<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bhaee.stream.com">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- I dont remember, probs has to do with downloads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Downloads -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Downloads on low api devices-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- some dependency needs this -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Used for player vertical slide-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!--Used for app update-->
    <!--<uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" /> not used atm, but code exist that requires it that are not run-->
    <permission android:name="android.permission.QUERY_ALL_PACKAGES" /> <!-- Used for getting if vlc is installed -->

    <!-- Fixes android tv fuckery -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <!--TODO https://stackoverflow.com/questions/41799732/chromecast-button-not-visible-in-android-->
    <application
        android:name=".AcraApplication"
        android:allowBackup="true"
        android:appCategory="video"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="o">
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="bhaee.stream.com.utils.CastOptionsProvider" />

        <activity
            android:name=".ui.player.DownloadedPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="userLandscape"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true">
            <intent-filter android:exported="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter android:exported="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pelisplus.icu"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="pelisplushd.net"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="pelismart.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="melomovie.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="doramasyt.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="cinecalidad.lol"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="cuevana3.me"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="entrepeliculasyseries.nu"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="pelisflix.li"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="seriesflix.video"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="ihavenotv.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="lookmovie.io"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.vmovee.watch"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="allmoviesforyou.net"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="vidembed.cc"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="vf-film.me"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="vf-serie.org"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="french-stream.re"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="asianembed.io"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="asiaflix.app"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="bflix.ru"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="fmovies.to"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="sflix.pro"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="filman.cc"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="sflix.to"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="dopebox.to"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="solarmovie.pe"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="pinoymoviepedia.ru"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.pinoy-hd.xyz"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="pinoymovies.es"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="trailers.to"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.2embed.ru"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="dramasee.net"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="watchasian.sh"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="kdramahood.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="akwam.to"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="mycima.tv"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.egy.best"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="secretlink.xyz"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="hdm.to"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="theflix.to"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="streamingcommunity.top"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.tantifilm.rodeo"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="v2.apimdb.net"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.wcostream.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="gogoanime.film"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="allanime.site"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="animekisa.in"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="animeflick.net"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www3.animeflv.net"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="tenshi.moe"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="wcostream.cc"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="animepahe.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="dreamsub.me"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="9anime.id"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="www.animeworld.tv"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="zoro.to"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="bestdubbedanime.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="monoschinos2.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="kawaiifu.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="cloudstreamapp" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.VideoDownloadRestartReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter android:exported="true">
                <action android:name="restart_service" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.VideoDownloadService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.ControllerActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>